<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="display-3 text-primary text-center mt-5">Assets</h1>
      <form  [formGroup]="addAssetsForm" (ngSubmit)="saveAssets()" [ngStyle]="{'height': '100%', 'width': '100%'}">
        <div>
          <label for="name">Name:</label>
          <input formControlName="Name" type="text" class="form-control" >
        </div>
  
        <div>
          <label for="location">Location:</label>
          <input formControlName="Location" type="text" class="form-control">
        </div>
  
        <div>
          <label for="type">Type:</label>
          <input formControlName="Type" type="text"  class="form-control">
        </div>
  
        <div>
          <label for="description">Description:</label>
          <textarea formControlName="Description" type="text" class="form-control"></textarea>
        </div>
  
        <div>
          <input type="submit" value="Submit" class="mt-2"/>
        </div>
  
      </form>
    </div>
    <div class="col-md-6 mt-5" [ngStyle]="{'height': '700px', 'width': '50%' , 'overflow' : 'scroll'}">
      <table  class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Type</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of AssetsInfo">
            <td>{{asset.Name}}</td>
            <td>{{asset.Location}}</td>
            <td>{{asset.Type}}</td>
            <td>{{asset.Description}}</td>
            <td>
              <button class="btn btn-secondary btn-sm mr-2" (click)="isModalOpen = true" (click)="getAssetsById(asset.Id)">Edit</button>
              <button class="btn btn-danger btn-sm" (click)="assetDelete(asset.Id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="isModalOpen" class="modal-overlay" id="modal-overlay" >
    <div class="modal-content" id="modal-content">
      <button (click)="isModalOpen = false">X</button>
      <form  >
        <label for="Name">Name:</label>
        <input  type="text" name="Name" id="name" [(ngModel)]="Name" value="{{Name}}">

        <label for="Location">Location:</label>
        <input  type="text" name="Location" id="location" [(ngModel)]="Location"  value="{{Location}}">

        <label for="Type">Type:</label>
        <input  type="text" name="Type" id="type" [(ngModel)]="Type"  value="{{Type}}">

        <label for="Description">Description:</label>
        <textarea id="description" name="Description" [(ngModel)]="Description"  value="{{Description}}"></textarea>

        <div>
          <input type="submit" value="Submit" class="mt-2" (click)="editAsset(selectedAsset.Id)"/>
        </div>
      </form>
    </div>
  </div>